.github/workflows/ @daquinteroflex
tidy3d/components/autograd/ @yaugenst-flex @tylerflex @groberts-flex
tidy3d/components/dispersion_fitter.py @caseyflex
tidy3d/components/eme/ @caseyflex
tidy3d/components/material/tcad/ @marc-flex
tidy3d/components/microwave/ @dmarek-flex @weiliangjin2021
tidy3d/components/nonlinear.py @caseyflex
tidy3d/components/spice/ @marc-flex
tidy3d/components/tcad/ @marc-flex
tidy3d/config/ @yaugenst-flex
tidy3d/plugins/autograd/ @yaugenst-flex
tidy3d/plugins/expressions/ @yaugenst-flex
tidy3d/plugins/klayout/ @bzhangflex
tidy3d/plugins/microwave/ @dmarek-flex
tidy3d/plugins/pytorch/ @yaugenst-flex
tidy3d/web/cache.py @marcorudolphflex
tidy3d/web/cli/cache.py @marcorudolphflex
