.github/workflows/public_tidy3d* @daquinteroflex
public/tidy3d/components/autograd/ @yaugenst-flex @tylerflex @groberts-flex
public/tidy3d/components/dispersion_fitter.py @caseyflex
public/tidy3d/components/eme/ @caseyflex
public/tidy3d/components/material/tcad/ @marc-flex
public/tidy3d/components/microwave/ @dmarek-flex @weiliangjin2021
public/tidy3d/components/nonlinear.py @caseyflex
public/tidy3d/components/spice/ @marc-flex
public/tidy3d/components/tcad/ @marc-flex
public/tidy3d/config/ @yaugenst-flex
public/tidy3d/plugins/autograd/ @yaugenst-flex
public/tidy3d/plugins/expressions/ @yaugenst-flex
public/tidy3d/plugins/klayout/ @bzhangflex
public/tidy3d/plugins/microwave/ @dmarek-flex
public/tidy3d/plugins/pytorch/ @yaugenst-flex
public/tidy3d/web/cache.py @marcorudolphflex
public/tidy3d/web/cli/cache.py @marcorudolphflex
