[MASTER]
extension-pkg-allow-list=pydantic
ignore=material_library.py, plugins
good-names=ax, im, Lx, Ly, Lz, x0, y0, z0, x, y, z, f, t

[BASIC]

[FORMAT]
max-line-length=100

[pre-commit-hook]
command=custom_pylint
disable=pointless-string-statement, too-many-ancestors, too-few-public-methods
