[MASTER]
extension-pkg-allow-list=pydantic
ignore=material_library.py, plugins
good-names=ax, im, Lx, Ly, Lz, x0, y0, z0, x, y, z, f, t, y1, y2, x1, x2, xs, ys, zs, Ax, Nx, Ny, Nz, dl, rr, E, H, xx, yy, zz, dx, dy, Jx, Jy, Hx, Hy, dz, e, fp

[BASIC]

[FORMAT]
max-line-length=100

[pre-commit-hook]
command=custom_pylint
disable=pointless-string-statement, too-many-ancestors, too-few-public-methods, fixme
