[tool.poetry]
name = "tidy3d"
version = "2.4.3"  # Thinking about bump2version
description = "A fast FDTD solver"
authors = ["Tyler Hughes <tyler@flexcompute.com>"]
license = "LGPLv2+"
readme = "README.md"
homepage = "https://github.com/flexcompute/tidy3d"
repository = "https://github.com/flexcompute/tidy3d"
classifiers = [
    "License :: OSI Approved :: GNU Lesser General Public License v2 or later (LGPLv2+)",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: OS Independent",
]
documentation = "https://docs.flexcompute.com/projects/tidy3d/en/latest/"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/flexcompute/tidy3d/issues"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
pyroots = "^0.5.0"
xarray = ">=0.16.2" # TODO sort out exactly what's equivalence the deal here
importlib-metadata = "^6.0.0"
h5netcdf = "1.0.2"
h5py = "^3.0.0"
rich = "<12.6.0"
matplotlib = "*"
shapely = "^2.0"
pydantic = "^2.0"
PyYAML = "*"
dask = "*"
toml = "*"
scipy = "*"
boto3 = "1.23.1"
requests = "*"
pyjwt = "*"
click = "8.0.3"
responses = "*"

[tool.poetry.group.dev.dependencies]
pre-commit = "*"
black = "22.3.0"
ruff = "*"
tox = "*"
pytest = "*"
pytest-timeout = "*"
memory_profiler = "*"
dill = "*"
ipython = "*"

[tool.poetry.group.gdspy.dependencies]
gdspy = "*"

[tool.poetry.group.gdstk.dependencies]
gdstk = "*"

[tool.poetry.group.jax.dependencies]
jax = [
    {version = ">=0.3.14,<=0.4.14", extras = ["cpu"], platform = "linux"},
    {version = ">=0.3.14,<=0.4.14", extras = ["cpu"], platform = "darwin"}, # TODO verify with a mac user
    {version = "==0.3.14", extras = ["cpu"], platform = "windows", python = "<3.9"},
    {version = ">=0.3.14,<=0.4.14", extras = ["cpu"], platform = "windows", python = ">=3.9"}
]
jaxlib = [
    {version = ">=0.3.14,<=0.4.14", platform = "linux"},
    {version = ">=0.3.14,<=0.4.14", platform = "darwin"}, # TODO verify with a mac user
    {version = "==0.3.14", platform = "windows", python = "<3.9"},
    {version = ">=0.3.14,<=0.4.14", platform = "windows", python = ">=3.9"}
]

[tool.poetry.group.trimesh.dependencies]
trimesh = "3.20.0"
networkx = {version = ">=2.6.3, <=3.0"}
rtree = "1.0.1"

[tool.poetry.extras]
dev = ["pre-commit", "black", "ruff", "tox", "pytest", "pytest-timeout", "memory_profiler", "dill", "ipython", "gdspy", "gdstk", "trimesh", "jax", "jaxlib", "networkx", "rtree"]
gdspy = ["gdspy"]
gdstk = ["gdstk"]
jax = ["jaxlib", "jax"]
trimesh = ["trimesh", "networkx", "rtree"]

[tool.poetry.scripts]
tidy3d = "tidy3d.web.cli:tidy3d_cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''


[tool.ruff]
ignore-init-module-imports = true
typing-modules = ["tidy3d.components.types"] # without this Literal["something fails"]
line-length = 100
fix = true
ignore = [
  "E501",  # line too long, handled by black
  "B008",  # do not perform function calls in argument defaults
  "C901",  # too complex
  "UP007", # use x | y instead of union[x,y] (doesnt work)
  "B905",  # `zip()` without an explicit `strict=` parameter
  "C408",  # C408 Unnecessary `dict` call (rewrite as a literal)
  "B904",
  "B028",  # stacklevel
  "UP006", # typy annotation with Tuple[float] messes up pydantic
]
select = [
  "E",  # pycodestyle errors
  "W",  # pycodestyle warnings
  "F",  # pyflakes
  "C",  # flake8-comprehensions
  "B",  # flake8-bugbear
  "UP"
]

target-version = "py37"
