# required for running tidy3d (note xarray)
xarray
scipy
h5py
rich
nlopt
matplotlib

# required to get xarray to not complain
dask

# required for running tidy3d, may try to remove later
pydantic
PyYAML

# may add later
shapely

# required for code quality checking
black
pylint

# required for testing only
pytest
jupyter
nbconvert

# for docs only
sphinx_rtd_theme
nbsphinx
ipython
autodoc_pydantic