# required for running tidy3d (note xarray)
xarray
scipy
h5py>=3.0.0
rich
nlopt
matplotlib
shapely==1.7.1
descartes
pydantic>=1.9.0
PyYAML
boto3
requests
plotly==5.5.0

# required to get xarray to not complain
dask
