# required for running tidy3d (note xarray)
xarray
scipy
h5py
rich
nlopt
matplotlib
shapely
descartes
pydantic
PyYAML

# required to get xarray to not complain
dask

# required for code quality checking
black
pylint

# required for testing only
pytest
jupyter
nbconvert

# for docs only
sphinx_rtd_theme
nbsphinx
ipython
autodoc_pydantic
sphinx-copybutton
m2r2

# required for web
boto3
