name: "tidy3d-frontend-tests"

on:
  workflow_dispatch:
  push:
    branches: [ develop, latest ]
  pull_request:
    branches:
      - latest
      - develop
      - 'pre/*'

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          submodules: 'recursive'
      - name: Test pre-commit hooks
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit run # this should be really more agressive

  build:
    name: Python ${{ matrix.python-version }} - ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
        platform: [ubuntu-latest, windows-latest, macos-latest]
    defaults:
      run:
        shell: bash
    env:  # Set environment variables for the whole job
      PIP_ONLY_BINARY: gdstk
      MPLBACKEND: agg

    steps:
    - uses: actions/checkout@v4

    #----------------------------------------------
    #  -----  install & configure poetry  -----
    #----------------------------------------------
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.8.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    #----------------------------------------------
    # install your root project, if required
    #----------------------------------------------
    - name: Install library
      run: |
        poetry --version
        poetry env use python
        poetry env info
        poetry run pip install --upgrade pip wheel setuptools
        poetry run pip install gdstk --only-binary gdstk
        poetry install -E dev

    #----------------------------------------------
    #    add matrix specifics and run test suite
    #----------------------------------------------
    - name: Run tests
      run: |
        poetry run ruff format . --check --diff
        poetry run ruff check tidy3d --fix --exit-non-zero-on-fix
        poetry run pytest -rA tests
        poetry run pytest -rA tests/_test_data/_test_datasets_no_vtk.py
