name: "sync-to-readthedocs-repo"
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - latest
      - develop
      - 'pre/*'
      - 'v*'
      - 'docs/demo/*'
jobs:
  extract_branch:
    outputs:
      branch: ${{ steps.extractbranch.outputs.branch }}
    runs-on: ubuntu-latest
    steps:
      - id: extractbranch
        name: Extract branch name
        shell: bash
        run: |
          echo "::set-output name=branch::${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          echo "${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          echo "${{ steps.extractbranch.outputs.branch }}"
  build-and-deploy:
    needs: extract_branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Create new branch if doesn't exist
        uses: GuillaumeFalourd/create-other-repo-branch-action@v1.5
        with:
          repository_owner: flexcompute-readthedocs
          repository_name: tidy3d-docs
          new_branch_name: ${{ needs.extract_branch.outputs.branch }}
          access_token: ${{ secrets.GH_PAT }}
          new_branch_ref: default_clean_sync_branch
          ignore_branch_exists: true
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          token: ${{ secrets.GH_PAT }}
          repository-name: flexcompute-readthedocs/tidy3d-docs
          target-folder: .
          branch: ${{ needs.extract_branch.outputs.branch }}
          force: true
